<section id="slider"><!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <%= image_tag("home/RDS.png", :alt => "")%>
                        </div>
                        <div class="item">
                            <%= image_tag("home/RDS.png", :alt => "")%>
                        </div>

                        <div class="item">
                            <%= image_tag("home/RDS.png", :alt => "")%>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>iklan</h2>
                    <div class="panel-group category-products" id="accordian"><!--category-productsr-->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a href="#">Kuliah bersama usta...</a>
                                    <%= image_tag("home/kuliah1.jpg", :class=>"pull-right", height:'30', width:'30')%>
                                 </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a href="#">Selamat Hari Raya Ai...</a>
                                  <%= image_tag("home/shr.jpg", :class=>"pull-right", height:'30', width:'30')%>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a href="#">Kuliah Maghrib dan T...</a>
                                  <%= image_tag("home/kuliah2.jpg", :class=>"pull-right", height:'30', width:'30')%>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a href="#">PELAYARAN IBADAH EKS...</a>
                                    <%= image_tag("home/kuliah2.jpg", :class=>"pull-right", height:'30', width:'30')%>
                                </h4>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a href="#">Program ihya ramadha...</a>
                                    <%= image_tag("home/kuliah2.jpg", :class=>"pull-right", height:'30', width:'30')%>
                                </h4>
                            </div>
                        </div>
                    </div><!--/category-products-->
                </div>
            </div>
        </div>
    </div>
</section><!--/slider-->

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items"><!--features_items-->
                    <h2 class="title text-center">Fokus produk RDS</h2>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds1.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 1350 </h2>
                                <p>Commercial Chocolate Fountain 4 Tier</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds2.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 90 </h2>
                                <p>Potato Spring</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div><div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds3.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 18/kg </h2>
                                <p>Soft Marshmallows</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div><div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds4.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 13/kg </h2>
                                <p>Chocolate Bean</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds5.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 13/kg </h2>
                                <p>Jelly Bean</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds6.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 22/kg </h2>
                                <p>Peanut Candy</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds7.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 110</h2>
                                <p>Cotton Candy Maker CC100A</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                              <div class="productinfo text-center">
                                  <%= image_tag("focus_product/rds8.jpg", :alt=>"", height: '250', width:'100')%>
                                <h2>RM 40 </h2>
                                <p>Electric Chocolate Melting Pot Mini</p>
                                <a href="product-details.html" class="btn btn-default add-to-cart">
                                  <i class="fa fa-info-circle"></i> Butiran produk</a>
                              </div>
                            </div>

                        </div>
                    </div>
                </div><!--features_items-->
            </div>
        </div>
    </div>
</section>